.git
.gitignore
.DS_Store
*.log
*.bak.*
vps-snapshots
api/node_modules
ui/node_modules
ui/dist
api/prisma/dev.db
ui/android/.gradle
ui/android/app/build
ui/android/local.properties
ui/android/capacitor-cordova-android-plugins
ui/ios/App/App/public
ui/ios/App/Pods
ui/ios/App/output
ui/ios/DerivedData
ui/ios/xcuserdata
ui/ios/App.xcworkspace/xcuserdata
ui/ios/capacitor-cordova-ios-plugins
